---
import Protected from "../../layouts/Protected.astro";
---
<Protected title="Dashboard - CLCI Scanner" description="dashboard for X company">
	<h1>Bienvenido a tu dasboard</h1>
	<a href="/scanner">Comenzar a scanear</a>
</Protected>