---
import Layout from '../layouts/Layout.astro';
---
<Layout title="CLCI Scanner - jsqr" description="Scanner for Chilean documents">
	<div class="w-full flex justify-center flex-col items-center">
	
	</div>
</Layout>
