---
import Layout from '../layouts/Layout.astro';
---
<Layout title="CLCI Scanner - jsqr" description="Scanner for Chilean documents">
	<div class="flex justify-center flex-col items-center min-h-96">
		<h1 class="text-gradient">Bienvenido a CLCI Scanner</h1>
		<p class="mb-8">Para comenzar a scanear debes ingresar con tus datos</p>
		<a href="/auth/login" class="bg-emerald-400 text-emerald-950 font-bold rounded-full px-4 py-2 text-xl hover:scale-110 duration-300 ease-in-out">Ingresar</a>
	</div>
</Layout>
