---
import Hexagon from "./Hexagon.astro";
import Github from "./icons/Github.astro";
import Whatsapp from "./icons/Whatsapp.astro";


---
<footer class="bg-emerald-950 relative text-center text-emerald-300 py-3">
	<div class="hex-container absolute -top-9 left-[50%] flex flex-wrap items-baseline gap-1">
		<Hexagon hexCalsses="bg-amber-400 w-12 h-12"  >
			<a href="https://github.com/4Tr3Yu">
				<Github/>
			</a>
		</Hexagon>
		<Hexagon hexCalsses="bg-amber-400 w-10 h-10" >
			<a href="https://wa.me/+56982140262">
				<Whatsapp/>
			</a>
		</Hexagon>
	</div>

	<p class="text-xs m-0 letter tracking-wider">Made with 🖤 by <a class="font-bold underline" href="https://atre.dev">Atre.dev</a></p>
</footer>
<style scoped>
	p {
		font-family: "Raleway Variable", system-ui, sans-serif;
		letter-spacing: 1px;
	}
</style>