---
import "@fontsource-variable/raleway";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Loader from "../components/Loader.astro";
interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---
<!doctype html>
<html class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta
		name="description"
		content={description}
		/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class=" bg-gradient-to-tr from-black to-emerald-950 min-h-dvh flex flex-col justify-around">
		<Loader/>
		<Header>
			<slot name="header"/>
		</Header>
		<main class="px-4 sm:px-0 container mx-auto py-4 flex-1 flex justify-center" >
			<slot />
		</main>
		<Footer/>
	</body>
</html>
<style is:global lang="scss">
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: "Raleway Variable", system-ui, sans-serif;
		background: #13151a;
	}
	.text-gradient {
		@apply text-3xl font-bold bg-gradient-to-tr from-emerald-200 to-emerald-500 bg-clip-text text-transparent;
	}
</style>
