---
import "@fontsource-variable/raleway";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="{Astro.props.description}"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class=" bg-gradient-to-tr from-sky-950 to-emerald-900 ">
    <main class="max-w-[1024px] mx-auto px-4 " >
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: "Raleway Variable", system-ui, sans-serif;
    background: #13151a;
  }
</style>
