---
interface Props {
	action?: string,
	method?: string
	id?: string
}

const { action, method, id } = Astro.props
---
<form class="border border-emerald-500 p-6 rounded-lg bg-gradient-to-tl from-black/25 to-transparent text-center max-w-md" action={action} method={method} id={id}>
	<slot/>
</form>
